.footer {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--light-theme-link) !important;
}

.button:hover {
  color: var(--light-theme-link-hover) !important;
}

.button__dark {
  color: var(--dark-theme-link) !important;
}

.button__dark:hover {
  color: var(--dark-theme-link-hover) !important;
}
