.footer {
  display: flex;
  justify-content: flex-end;
}

i {
  display: inline-block;
  font-style: normal;
  position: relative;
}

i.arrow {
  cursor: pointer;
  width: 1em;
  height: 1em;
  border-right: 0.25em solid #333;
  border-top: 0.25em solid #333;
  transform: rotate(-45deg);
}

i.arrow:hover {
  border-right: 0.25em solid #000;
  border-top: 0.25em solid #000;
}
