.main {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  z-index: 10;
  background: var(--light-theme-bg);
}

.main__dark {
  background: var(--dark-theme-bg);
}

.container {
  margin: 5rem auto 5rem auto;
  max-width: 750px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--light-theme-bg);
  box-shadow: 0 0 50px 50px var(--light-theme-bg);
}

.container__dark {
  background: var(--dark-theme-bg);
  box-shadow: 0 0 50px 50px var(--dark-theme-bg);
}

.content {
  flex-grow: 1;
}

.content * {
  color: var(--light-theme-text);
}

.content__dark * {
  color: var(--dark-theme-text);
}

.content a {
  color: var(--light-theme-link);
}

.content a:hover {
  color: var(--light-theme-link-hover);
}

.content__dark a {
  color: var(--dark-theme-link);
}

.content__dark a:hover {
  color: var(--dark-theme-link-hover);
}
.content pre {
  background: var(--light-theme-off-bg);
}

.content__dark pre {
  background: var(--dark-theme-off-bg);
}

.content pre * {
  color: var(--light-theme-text);
}

.content__dark pre * {
  color: var(--dark-theme-link-hover);
}

@media (max-width: 800px) {
  .container {
    margin: 10rem auto 10rem auto;
  }
}
