.nav-item {
  color: var(--light-theme-link);
  font-size: 1rem;
  margin: 0.75rem;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--light-theme-link-hover);
}

.activeNavItem {
  color: var(--light-theme-text) !important;
}

.nav-item {
  color: var(--dark-theme-link);
}

.nav-item:hover {
  color: var(--dark-theme-link-hover);
}

.activeNavItem__dark {
  color: var(--dark-theme-text) !important;
}
