.post {
  margin: 1rem 0;
  list-style: none;
}

.post:parent {
  list-style-type: none;
}

.link {
  background: var(--light-theme-off-bg);
  color: black;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.link:hover {
  background: var(--light-theme-off-bg-hover);
}

.link__dark {
  background: var(--dark-theme-off-bg);
  color: white;
}

.link__dark:hover {
  background: var(--dark-theme-off-bg-hover);
}

.title {
  margin-bottom: 0;
  color: var(--light-theme-text);
}

.title__dark {
  color: var(--dark-theme-text);
}

.text {
  color: var(--text-muted);
  font-size: 0.8rem;
  font-style: italic;
}

.description {
  color: var(--light-theme-text);
}

.description__dark {
  color: var(--dark-theme-text);
}
